<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="dataSource.xml"/>

    <context:annotation-config/>

    <!--For Dynamic change locale to locale of User-->
    <!--<bean id="localeResolver" class="org.springframework.webapp.servlet.i18n.SessionLocaleResolver">-->
    <!--<property name="defaultLocale" value="ru"/>-->
    <!--</bean>-->

	<context:component-scan base-package="masterjava.service" />

    <bean id="simpleTableDao" class="masterjava.common.web2.dao.GenericDaoHibernate">
        <constructor-arg value="masterjava.web2.model.SimpleTableEntity"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--<bean id="simpleTableOperation" class="masterjava.common.webapp.GenericDbOperation">-->
        <!--<constructor-arg ref="simpleTableDao"/>-->
    <!--</bean>-->

    <!--<bean id="tableService" class="masterjava.service.table.impl.SimpleTableServiceImpl">-->
    <!--<property name="simpleTableDao" ref="simpleTableDao"/>-->
    <!--</bean>-->

    <!--<bean id="loadXmlService" class="ru.gekis.loadxml.feature.service.impl.LoadXmlServiceImpl">-->
    <!--<property name="genericDao">-->
    <!--<bean parent="genericDaoHibernate">-->
    <!--<constructor-arg value="ru.gekis.loadxml.model.loadxml.PropertyNode"/>-->
    <!--</bean>-->
    <!--</property>-->
    <!--</bean>-->

    <!--<bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">-->
    <!--&lt;!&ndash;property name="contextPath" value="ru.gekis.loadxml.model.xml"/&ndash;&gt;-->
    <!--<property name="classesToBeBound">-->
    <!--<list>-->
    <!--<value>ru.gekis.loadxml.to.loadxml.XmlRootNode</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--<property name="marshallerProperties">-->
    <!--<map>-->
    <!--<entry key="jaxb.formatted.output">-->
    <!--<value type="boolean">true</value>-->
    <!--</entry>-->
    <!--</map>-->
    <!--</property>-->
    <!--<property name="schema" value="classpath:properties.xsd"/>-->
    <!--</bean>-->

</beans>
