<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>SmartGwt Test</display-name>

    <!-- Context Configuration locations for Spring XML files -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/bean/applicationContext.xml
            /WEB-INF/applicationContext.xml
        </param-value>
    </context-param>

    <!--<filter>-->
    <!--<filter-name>encodingFilter</filter-name>-->
    <!--<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>-->
    <!--<init-param>-->
    <!--<param-name>encoding</param-name>-->
    <!--<param-value>UTF-8</param-value>-->
    <!--</init-param>-->
    <!--&lt;!&ndash;<init-param>&ndash;&gt;-->
    <!--&lt;!&ndash;<param-name>forceEncoding</param-name>&ndash;&gt;-->
    <!--&lt;!&ndash;<param-value>true</param-value>&ndash;&gt;-->
    <!--&lt;!&ndash;</init-param>&ndash;&gt;-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>encodingFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<listener>-->
    <!--<listener-class>org.springframework.webapp.util.IntrospectorCleanupListener</listener-class>-->
    <!--</listener>-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!--<listener>-->
    <!--<listener-class>org.springframework.webapp.context.request.RequestContextListener</listener-class>-->
    <!--</listener>-->

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

	<!-- SpringGwt remote service servlet -->
	<servlet>
		<servlet-name>springGwtRemoteServiceServlet</servlet-name>
		<servlet-class>masterjava.common.gwt.SpringGwtRemoteServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>springGwtRemoteServiceServlet</servlet-name>
		<url-pattern>/smartgwt/rpc/*</url-pattern>
	</servlet-mapping>

	<!-- SpringGwt remote service servlet -->
	<servlet>
		<servlet-name>smartRpc</servlet-name>
		<servlet-class>masterjava.webapp.SmartRpc</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>smartRpc</servlet-name>
		<url-pattern>/smartRpc/*</url-pattern>
	</servlet-mapping>

    <!--<session-config>-->
    <!--<session-timeout>10</session-timeout>-->
    <!--</session-config>-->

    <welcome-file-list>
        <welcome-file>SmartGWT.html</welcome-file>
    </welcome-file-list>
</web-app>
