<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="=== %d [%.4t] %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="APP-LOG-FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="c:/out/smartgwt.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="1000KB"/>
        <param name="MaxBackupIndex" value="1000"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>
    </appender>

    <category name="masterjava">
        <priority value="DEBUG"/>
        <appender-ref ref="APP-LOG-FILE"/>
    </category>

    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="STDOUT"/>
    </root>

</log4j:configuration>
